/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#two-thirds-column {
  width: 59%;
  margin-right: :15px;
  float: left;
  height: 590px;
  margin-bottom: 15px
}

#one-third-column {
  width: 39%;
  margin-left: 15px;
  float:right;
  height: auto;

}

#one-third-sections {
  clear: both;
  width: 100%;
  height: 100px;

}

.squares {
  height:310px;
  width: 270px;
  display: inline-block;;
  margin: 20px;
  margin-left: 1px;
}

#featured-brands-wrapper {
  height: 100px;
}
