/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#two-thirds-column {
  width: 55%;
  margin:15px;
  float: left;
}

#one-third-column {
  width: 35%;
  margin: 15px;
  float:right;
  height: auto;

}

.one-third-sections {
  clear: both;
}

#featured-brands-wrapper {
  height: auto;
  background-color: blue;
  
}
